@import url(./navestilo.css);
@import url(./pokeinfo.css);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-image: url(/Img/fundo\ dbo.png); */
  font-family: sans-serif;
}
ol,
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: none;
  outline: 0;
}
dl, dt{
  font-family: 'arial black';
}
dd{
  font-family: 'comic sans ms';
}