body {
  background-image: url(../Img/Conteiner-bg.png);
}

.conteudo {
  margin: 20px 200px;
}
.navInput {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.inputPesquisar {
  display: flex;
  gap: 10px;
  background-color: aquamarine;
  align-items: center;
  background-color: #f6f4f4;
  border: 2px solid #d4d4d4;
  border-radius: 20px;
  padding: 6px 20px;
  margin: 10px 10px;
  width: 300px;
}
.inputPesquisar i {
  color: #aba6a6;
  cursor: pointer;
}

.inputPoke {
  border: none;
  padding: 8px 5px;
  width: 500px;
  background-color: #f6f4f4;
  font-family: sans-serif;
}
.sugestao {
  background-color: #f6f4f4;
  color: #aba6a6;
  border: 2px solid #d4d4d4;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}
.boxSugestoes {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 60px;
  /* background-color: #aba6a6 ; */
  background-image: url(../Img/fundo\ dbo.png);
  font-size: 2.5vh;
  padding: 10px;
  line-height: 1.3;
  border-radius: 5px;
  /* max-width: max-content; */
  margin-top: 10px;
}
.ativo {
  display: block;
}
.boxSugestoes dt::before {
  content: "";
  display: inline-block;
  height: 5px;
  width: 5px;
  margin-right: 3px;
  margin-bottom: 3px;
  background-color: rgb(242, 228, 33);
  border-radius: 50%;
}
